#main{
	height: 270px;
	border: #178FE5;
}
#left{
	/* background-color: #178FE5; */
	width: 35%;
	height: 270px;
	float: left;
	position: relative;
}
#right{
	/* background-color: red; */
	width: 35%;
	height: 270px;
	float: right;
	position: relative;
}
#img1{
	margin-left: 40px;
}
#img2{
	margin-left: 50px;
}
#vs{
	font-size: 120px;
	margin-left: 30px;
}